* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family:Roboto, Helvetica, sans-serif;
  font-size: 16px;
}

/* Nav Bar Code*/

nav {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  padding: 12px 24px 0 24px;
  height: 63px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav ul {
  list-style: none;
  align-items: center;
  display: flex;
}

nav li {
  padding-left: 16px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 32px;
  text-transform: uppercase;
}

.logo img {
  height: 48px;
}

.logo p {
  color: black;
  font-weight: bold;
  font-size: 32px;
}

.logo span {
  font-weight: 300;
  color: gray;
  font-size: 32px;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}

/* Media Query Mobile Nav*/

@media only screen and (min-width: 400px) {
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  nav {
    display: none;
  }

  .mobile-nav {
    display: contents;
  }
}

/*landing container*/

.landing-container {
  background-color: lightgray;
  padding: 32px 24px 32px 24px;
  display: flex;
}

.landing-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  gap: 20px;
  padding-right: 5%;
  padding-left: 24px;
}

.landing-text-container h2 {
  font-size: 3.3rem;
  color: #3C4142;
  font-weight: bold;
  flex-shrink: 1;
}

.landing-text-container p {
  font-size: 2rem;
  padding-bottom: 24px;
  color: #3C4142;
  flex-shrink: 1;
}

.landing-text-container button {
  width: 100%;
  background-color: #3C4142;
  border-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

.landing-text-container button a {
  color: white;
}

.landing-image-container {
  min-width: 60%;
  border: solid 1px black;
}

.landing-image-container img{
  height: auto;
  width: 100%;
}

/* Articles */










